
.container{
    width: 100%;
    margin-top: 3rem;
    
}

.infoContent{
    width: 90%;
    margin-inline: auto;
    padding-bottom: 2.5rem;
    border-bottom: 1px solid hsla(0,0%,94.1%,.1);
}

.boldText{
    position: relative;
    font-size: 1.5rem;
    line-height: 2.2rem;
    font-weight: 900;
    margin-bottom: 1.5rem;
}

.normalText{
    position: relative;
    word-spacing: 1px;
    font-size: 1.3rem;
    line-height: 2rem;
}

.text{
    position: relative;
    opacity: 0;
    transition: opacity 0.3s linear;
}

.fadeUp .text{
    opacity: 1;
    animation: animate 0.3s linear;
}

@keyframes animate{
    0%{
        top: 50px;
    }
    100%{
        top: 0px;
    }
}

@media screen and (min-width: 768px){
    .container{
        margin-top: 5rem;
    }

    .boldText{
        font-size: 2.5rem;
        margin-bottom: 2.5rem;
        line-height: 3rem;
    }

    .normalText{
        font-size: 1.4rem;
    }
}

@media screen and (min-width: 1024px){
    
    .infoContent{
        width: 75%;
    }

    .boldText{
        font-size: 4.51389vw;
        line-height: 5vw;
    }

    .normalText{
        font-size: 2.36111vw;
        line-height: 3.81944vw;
    }
    
}